<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app>
	<display-name>Defensoria</display-name>
	<description>Defensoria del Asegurado</description>
	<servlet>
		<servlet-name>Index</servlet-name>
		<display-name>Index</display-name>
		<servlet-class>control.Index</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlFicha</servlet-name>
		<display-name>CtrlFicha</display-name>
		<servlet-class>control.CtrlFicha</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlReporte</servlet-name>
		<display-name>CtrlReporte</display-name>
		<servlet-class>control.CtrlReporte</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlPortal</servlet-name>
		<display-name>CtrlPortal</display-name>
		<servlet-class>control.CtrlPortal</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlUsuarios</servlet-name>
		<display-name>CtrlUsuarios</display-name>
		<servlet-class>control.CtrlUsuarios</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlMant</servlet-name>
		<display-name>CtrlMant</display-name>
		<servlet-class>control.CtrlMant</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlHelp</servlet-name>
		<display-name>CtrlHelp</display-name>
		<servlet-class>control.CtrlHelp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadFichero</servlet-name>
		<display-name>uploadFichero</display-name>
		<servlet-class>control.uploadFichero</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CtrlSalir</servlet-name>
		<display-name>salirServlet</display-name>
		<servlet-class>control.SalirServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/servlet/Index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlFicha</servlet-name>
		<url-pattern>/servlet/CtrlFicha</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlReporte</servlet-name>
		<url-pattern>/servlet/CtrlReporte</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlUsuarios</servlet-name>
		<url-pattern>/servlet/CtrlUsuarios</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlPortal</servlet-name>
		<url-pattern>/servlet/CtrlPortal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlMant</servlet-name>
		<url-pattern>/servlet/CtrlMant</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlHelp</servlet-name>
		<url-pattern>/servlet/CtrlHelp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadFichero</servlet-name>
		<url-pattern>/servlet/uploadFichero</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CargaLog4j</servlet-name>
		<servlet-class>servlet.StartupServlet</servlet-class>
		<init-param>
			<param-name>log4jPropertiesFile</param-name>
			<param-value>/WEB-INF/classes/log4j.properties</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CtrlLibroRecla</servlet-name>
		<display-name>CtrlLibroRecla</display-name>
		<description></description>
		<servlet-class>control.CtrlLibroRecla</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CtrlSalir</servlet-name>
		<url-pattern>/servlet/CtrlSalir</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CtrlLibroRecla</servlet-name>
		<url-pattern>/servlet/CtrlLibroRecla</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/jsp/index_salir.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/jsp/index_salir.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/jsp/index_salir.jsp</location>
	</error-page>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
